{%extends 'base.html' %}
{%block content %}

<div class="container">
    <div class="row">
        <section class="col-3 mt-3">
            <div class="alert alert-secondary" role="alert">
                <h3 class="text-center">Localización:</h3>
            </div>
        </section>
        <section class="col-9 mt-3">
            <div class="alert alert-success" role="alert">
                <h3 class="text-center">{{area}}</h3>
            </div>
        </section>
       
        {% for subarea in subareas %}
        <ul class="card">
            <li>
                <a href="{%url 'detalle_subareas' subarea.id %}">
                    <h3>{{subarea.nombre}}</h3>
                </a>
                <h6>Código de área: {{subarea.cod_subArea}}</h6>
            </li>
        </ul> 
        {% endfor %}

    </div>
</div>

{% endblock %}