{% extends 'base.html' %}

{% load static %}

{% block content %}


<main class="container py-5">
    <section class="card card-body">
        <img src="{% static 'AIC.jpg' %}" class="rounded mx-auto d-block" alt="", width="200">
        
        <h1 class="display-1 text-center">{{titulo}}</h1>
        <h1 class="display-1 text-center">AIC</h1>
        <p>
            Este es el programa de mantenimiento que está didivido en:
            <ul>
                <li>Localizaciones</li>
                <li>Areas</li>
                <li>Máquinas</li>
                <li>Partes</li>
            </ul>
            y cada máquina tiene su bitácora de mantenimiento cargada
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Singin</a>
            <a class="btn btn-dark" href="/login/">Singup</a>
        </div>
        
        
    </section>
</main>


{% endblock %}

